<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bulma Version 0.9.0-->
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <title>{% block title %}CopyFans{% endblock title %}</title>
    {% endblock head %}

</head>
<body>
  {% block navbar %}
    <nav class="navbar is-fixed-top has-shadow is-white" style="border-bottom: 1px solid lightgray">
        <!-- logo / brand -->
        <div class="navbar-brand">
          <a href="{{ url_for('index') }}"><img class="ml-5 responsive-image" src="{{url_for('static', filename='application_images/nav_pic.png')}}" alt="Loading image..." /></a>
          <a class="navbar-item">
          </a>
          <a class="navbar-burger" id="burger">
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>
        
        <div class="navbar-menu" id="nav-links">
            <div class="navbar-start">
              <div>
                <a class="navbar-item subtitle" href="{{url_for('profile')}}" id="profile">Profile</a>
              </div>
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                  <a class="button is-link" id="register_modal">
                    Sing Up
                  </a>
                
                  <a class="button is-yellow" id="login_modal">
                    Log in
                  </a>
                  <a class="button is-red" id="logout" href="#">
                    <strong>Logout</strong>
                  </a>
                </div>
            </div>
        </div>
    </nav>
  {% endblock navbar %}
    <!-- Bulma css modals -->

      <!-- Modal Sing Up -->
{% block content %}
<div class="modal" id="modal_register">
  <div class="modal-background" id="modal_background_register"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Register</p>
      <button class="delete" id="close_register" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content -->        
        <div class="field">
          <label class="label">FirstName</label>
          <div class="control">
             <input class="input" id="firstname" type="text" placeholder="Username...">
          <!--
          <div class="control has-icons-left has-icons-right">
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-check"></i>
            </span>
          </div>
          <p class="help is-success">This username is available</p>
          -->
          </div>
        </div>
        <div class="field">
          <label class="label">LastName</label>
          <div class="control">
            <input class="input" id="lastname" type="text" placeholder="Lastname..." >
          <!--
          <div class="control has-icons-left has-icons-right">
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-exclamation-triangle"></i>
            </span>
          </div>
          <p class="help is-danger">This email is invalid</p>
          -->
          </div>
        </div>
        <div class="field">
          <label class="label">Username</label>
          <div class="control">
            <input class="input" id="username" type="text" placeholder="Username..." >
          <!--
          <div class="control has-icons-left has-icons-right">
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-exclamation-triangle"></i>
            </span>
          </div>
          <p class="help is-danger">This email is invalid</p>
          -->
          </div>
        </div>
        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input class="input" id="email" type="text" placeholder="Email..." >
          <!--
          <div class="control has-icons-left has-icons-right">
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-exclamation-triangle"></i>
            </span>
          </div>
          <p class="help is-danger">This email is invalid</p>
          -->
          </div>
        </div>
        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <input class="input" id="password" type="text" placeholder="Password..." >
          <!--
          <div class="control has-icons-left has-icons-right">
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-exclamation-triangle"></i>
            </span>
          </div>
          <p class="help is-danger">This email is invalid</p>
          -->
          </div>
        </div>
        <!--
        <div class="field">
          <label class="label">Subject</label>
          <div class="control">
            <div class="select">
              <select>
                <option>Select dropdown</option>
                <option>With options</option>
              </select>
            </div>
          </div>
        </div>
        -->
    <footer class="modal-card-foot">           
      <div class="field is-grouped">
          <div class="control">
            <button class="button is-yellow" id="register_user" >Invia</button>
          </div>
        </div>
    </footer>
  </section>
  </div>
</div>


<!-- Modal Sing In -->
<div class="modal" id="modal_login">
  <div class="modal-background" id="modal_background_login"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Sing Up</p>
      <button class="delete" id="close_login" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content -->        
        <div class="field">
          <label class="label">Username</label>
          <div class="control">
             <input class="input" id="login_username" type="text" placeholder="Username...">
          <!--
          <div class="control has-icons-left has-icons-right">
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-check"></i>
            </span>
          </div>
          <p class="help is-success">This username is available</p>
          -->
          </div>
        </div>
        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <input class="input" id="login_password" type="text" placeholder="Password..." >
          <!--
          <div class="control has-icons-left has-icons-right">
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-exclamation-triangle"></i>
            </span>
          </div>
          <p class="help is-danger">This username is invalid</p>
          -->
          </div>
        </div>
        <!--
        <div class="field">
          <label class="label">Subject</label>
          <div class="control">
            <div class="select">
              <select>
                <option>Select dropdown</option>
                <option>With options</option>
              </select>
            </div>
          </div>
        </div>
        -->
   <footer class="modal-card-foot">           
      <div class="field is-grouped">
          <div class="control">
            <button class="button is-yellow" id="login_user" type="submit">Invia</button>
          </div>
        </div>
    </footer>
  </section>
  </div>
</div>

    {% block script %}
    <script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"></script>
    {% endblock script %}

{% endblock content %}

</body>
</html>